#body {
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	border:1px solid #AAAAAA;
	height:800px;
	margin: 5px;
	padding:5px;
	width:98%%;
	font-size: 8px;
	font-family: verdana;
}
#body > div {
	border:1px solid black;
	height:750px;
	padding:2px 5px;
}
#messages {
  list-style-type: none;
  padding: 5px;
}
#messages LI {
	margin: 5px;
	padding: 15px 5px;
}
table {
  border: 1px solid #000;
  width: 100%;
  margin: 5px;
  border-collapse: collapse;
}
td, th {
  border: 1px solid #888;
  padding: 2px;
}
a.array_action {
  cursor: pointer;
  margin: 0 2px;
  float: left;
}
dt {
	font-weight: bold;
}
h3, h4 {
    border-width: 1px;
    background-color: #EEE;
    padding: 5px;
}

