#body {
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	border:1px solid #AAAAAA;
	height:800px;
	margin: 5px;
	padding:5px;
	width:98%%;
	font-size: 9px;
}
#body > div {
	border:1px solid black;
	height:750px;
	padding:2px 5px;
}
#col_left {
	left:20px;
	position:absolute;
	width:20%;
}
#col_center {
    margin:0 22%;
}
#col_right {
	position:absolute;
	right:20px;
	width:20%;
}
#tabs{
  min-height: 90%;
}

#messages {
  list-style-type: none;
  padding: 5px;
}
#messages LI {
	margin: 5px;
	padding: 15px 5px;
}
table {
  border: 1px solid #000;
  width: 100%;
  margin: 5px;
  border-collapse: collapse;
}
td, th {
  border: 1px solid #888;
  padding: 2px;
}
a.array_action {
  cursor: pointer;
  margin: 0 2px;
  float: left;
}
